parameters:
  paths:
    - /source/src
  level: 7
  autoload_files:
    - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php
  autoload_directories:
    - /source/src
    - phar:///source/vendor/FormAPI.phar/src/
    - phar:///source/vendor/Commando.phar/src/
  excludes_analyse:
    - source/vendor
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  ignoreErrors:
    - "#Strict comparison using === between pocketmine\\\\inventory\\\\PlayerInventory and null will always evaluate to false.#"