name: PHPStan

on: [push, pull_request]

jobs:
  phpstan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Create Vendor Directory
        run: mkdir vendor
      - name: Download Virion Dependencies
        run: |
          wget -O vendor/FormsUI.phar https://poggit.pmmp.io/r/209836/FormsUI_dev-20.phar
          wget -O vendor/Commando.phar https://poggit.pmmp.io/r/216831/Commando_dev-34.phar
          wget -O vendor/libPiggyUpdateChecker.phar https://poggit.pmmp.io/r/211732/libPiggyUpdateChecker_dev-2.phar
      - name: Run PHPStan
        uses: paroxity/pmmp-phpstan-action@5.3.0
        with:
          phpstan-config: phpstan.neon.dist